<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Tweet</label>
        <div class="controls">
            <textarea type="text"
                      maxlength="280"
                      cam-variable-type="String"
                      cam-variable-name="content"
                      class="form-control"/>
        </div>

        <div class="controls">
            <label class="control-label" control-label>Freigabe?</label>
            <input type="checkbox"
                   cam-variable-name="tweetApproved"
                   cam-variable-type="Boolean"
                   class="form-control"/>
        </div>
    </div>
    <script cam-script type="text/form-script">
  // custom JavaScript goes here
    </script>
</form>
