<form class="form-horizontal">
    <div class="control-group">
        <h1>Vielen Dank, dass du einen Tweet erstellst ❤</h1>
    <script cam-script type="text/form-script">
  // custom JavaScript goes here



    </script>
</form>
